html
    head
        title MyPic
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        script(src="js/react.development.js")
        script(src="js/react-dom.development.js")
        script(src="js/babel.min.js",charset="utf-8")
        script(src="js/jquery.min.js")
        script.
            var data = !{data}
        link(rel="stylesheet",type="text/css",href="css/style.css")
    body
        div#app
        script(src="js/app.js",type="text/babel")
        script(src="js/script.js")
        