<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/js/react.development.js"></script>
    <script src="static/js/react-dom.development.js"></script>
    <script src="static/js/babel.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script>
        var data = {
            items:[
                {
                    image: "0.jpg",
                    tags: []
                },
                {
                    image: "1.jpg",
                    tags: []
                },
                {
                    image: "2.jpg",
                    tags: []
                },
                {
                    image: "3.jpg",
                    tags: []
                },
                {
                    image: "4.jpg",
                    tags: []
                },
                {
                    image: "5.jpg",
                    tags: []
                },
                {
                    image: "6.jpg",
                    tags: []
                },
                {
                    image: "7.jpg",
                    tags: []
                },
                {
                    image: "8.jpg",
                    tags: []
                },
                {
                    image: "9.jpg",
                    tags: []
                },
                {
                    image: "10.jpg",
                    tags: []
                },
                {
                    image: "11.jpg",
                    tags: []
                },
            ],
            hasNextPage: false,
        }
    </script>
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <script src="static/js/app.js" type="text/babel"></script>
</body>
</html>